@model StudentManager.Model.Model.StudentModels.StudentModel

<div class="form-layout form-layout-4 modal-body">
    <input type="hidden" asp-for="StudentId"/>
    <div class="row mg-b-20" style="padding-top :10px">
        <label class="col-sm-4 form-control-label"> Name <span class="text-danger">*</span></label>
        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
            <input type="text" class="form-control" asp-for="Name" id="name">
            @Html.ValidationMessageFor(x=>x.Name)
        </div>
    </div><!-- row -->
    <div class="row mg-b-20" style="padding-top :10px">
        <label class="col-sm-4 form-control-label"> Address <span class="text-danger">*</span></label>
        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
            <input type="text" class="form-control" asp-for="Address" id="address">
            @Html.ValidationMessageFor(x=>x.Address)
        </div>
    </div><!-- row -->
    <div class="row mg-b-20" style="padding-top :10px ; padding-bottom:10px;">
        <label class="col-sm-4 form-control-label"> Date of birth <span class="text-danger">*</span></label>
        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
            <input type="datetime-local" class="form-control" asp-for="DateOfBirth" id="dateOfBirth">
            @Html.ValidationMessageFor(x=>x.DateOfBirth)
        </div>
    </div><!-- row -->
    @*<div class="row mg-b-20" style="padding-top :10px ; padding-bottom:10px;">
        <label class="col-sm-4 form-control-label"> Date of birth <span class="text-danger">*</span></label>
        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
            <select name="classListSelect" class="select" multiple data-mdb-filter="true">
                @foreach(var item in ViewBag.ClassList)
                {
                    <option value="@item.ClassId">@item.ClassName</option>
                }
            </select>
            @Html.ValidationMessageFor(x=>x.DateOfBirth)
        </div>
    </div><!-- row -->*@
</div><!-- form-layout -->
